.about_all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 7%;
    padding-block: 70px;
    gap: 30px;

}


.about_all .logo{
    width: 100%;
    height: 250px;
}

.about_all h3{
    margin-top: 15px;
    color: #2C2C74;
}
.about_all p{
    margin-top: 15px;
}

.governing_council_all, .executive_council_all{
    padding: 0 7%;
    padding-block: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.governing_card, .executive_card{
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.governing_image, .executive_image{
    width: 100%;
}
.governing_image img, .executive_image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.governing_details, .executive_details{
    padding: 0 5%;
    padding-block: 20px;
}
.governing_details p, .executive_details p{
    margin-top: 10px;
}

@media only screen and (max-width: 1110px) {
    .about_all{
        display: grid;
        grid-template-columns: 1fr ;
    }

    .governing_council_all, .executive_council_all{
        padding: 0 7%;
        padding-block: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

}

@media only screen and (max-width: 812px) {

    .governing_council_all, .executive_council_all{
        padding: 0 7%;
        padding-block: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 30px;
    }
}


@media only screen and (max-width: 612px) {

    .governing_council_all, .executive_council_all{
        padding: 0 7%;
        padding-block: 70px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}