table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

 th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

 th {
    background-color: #f2f2f2;
}
.calendar_table{
    padding: 0 7%;
    margin-block: 80px;
}

.department_all{
    padding: 0 7%;
}

.department_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-block: 80px;
}

.department_card{
    padding: 0 5%;
    padding-block: 50px;
    margin-top: 50px;
    border-radius: 5px;
    border: 1.5px solid #ddd;
}

.department_card:hover{
  
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.department_card p{
    margin-top: 10px;
}

.department_btn button{
   width: 100%;
   height: 44px;
    background-color: #2C2C74;
   border: none;
   color: #fff;
   margin-top: 20px;
}

.handbook_all{
    padding: 0 7%;
    padding-block: 80px;
}

.executive_council_all{
    padding: 0 7%;
}


@media only screen and (max-width: 1110px) {
.department_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
}

@media only screen and (max-width: 712px) {
    .department_grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    }