body {
    background-color: #f4f4f8;
}

.event_details {
    margin: 0 10%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 50px;
    padding: 0 5%;
    padding-block: 50px;
    border-radius: 10px;
}

.events_flex {
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
}

.events_flex i {
    color: goldenrod;
}

.heading {
    padding-block: 20px;
}
.media{
    margin-block: 20px;
}
.media img {
    width: 60%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.add_events{
    padding: 0 25%;
}

.media video{
    width: 60%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.add_events {
    margin: 20px;
}

.forms {
    margin-bottom: 15px;
}

.events_box {
    position: relative;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.events_box:hover .delete_button {
    opacity: 1;
}

.delete_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.events_title {
    margin: 0;
}

.events_flex {
    display: flex;
    justify-content: space-between;
}

.upcoming_event{
    background-color: #2C2C74;
    padding: 0 5%;
    padding-block: 50px;
    margin-top: 50px;
    color: #fff;
}

.forms textarea{
    height: 150px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

textarea:focus{
    outline: none;
}