.news_image{
   
     height:400px; 
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     background-size: cover;
    
   
}
.news_details{
    padding: 0 15%;
    padding-block: 100px;
}
.back{
    padding-block: 20px;
}

.title h1{

margin-bottom: 40px;
}

 .date, .title, .content{
    margin-top: 20px;
}

.news_content{
    padding: 0 5%;
    margin-top: 30px;
}


.add_news{
    padding: 0 25%;
}

.news_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}